USE [master]
GO
/****** Object:  Database [StundenplanDB]    Script Date: 17.12.2025 19:58:17 ******/
CREATE DATABASE [StundenplanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StundenplanDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StundenplanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StundenplanDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StundenplanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StundenplanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StundenplanDB]
GO
/****** Object:  Table [dbo].[Fach]    Script Date: 17.12.2025 19:58:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fach](
	[FachID] [int] IDENTITY(1,1) NOT NULL,
	[Fachname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klasse]    Script Date: 17.12.2025 19:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klasse](
	[KlasseID] [int] IDENTITY(1,1) NOT NULL,
	[Klassenname] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlasseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lehrer]    Script Date: 17.12.2025 19:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lehrer](
	[LehrerID] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LehrerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schulzimmer]    Script Date: 17.12.2025 19:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schulzimmer](
	[SchulzimmerID] [int] IDENTITY(1,1) NOT NULL,
	[Zimmernummer] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SchulzimmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stundenplan]    Script Date: 17.12.2025 19:58:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stundenplan](
	[StundenplanID] [int] IDENTITY(1,1) NOT NULL,
	[KlasseID] [int] NOT NULL,
	[LehrerID] [int] NOT NULL,
	[FachID] [int] NOT NULL,
	[SchulzimmerID] [int] NOT NULL,
	[Wochentag] [nvarchar](10) NOT NULL,
	[Lektion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StundenplanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD FOREIGN KEY([FachID])
REFERENCES [dbo].[Fach] ([FachID])
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD FOREIGN KEY([KlasseID])
REFERENCES [dbo].[Klasse] ([KlasseID])
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD FOREIGN KEY([LehrerID])
REFERENCES [dbo].[Lehrer] ([LehrerID])
GO
ALTER TABLE [dbo].[Stundenplan]  WITH CHECK ADD FOREIGN KEY([SchulzimmerID])
REFERENCES [dbo].[Schulzimmer] ([SchulzimmerID])
GO
USE [master]
GO
